body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

.containerPrincipal{
    background-color: #198800;
    justify-content: center;
    text-align: center;
}

.row{
    justify-content: center;
    padding-bottom: 3%;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


